*{
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(to right, whitesmoke, #f8ced8);
}
header h1{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 1rem;
    background-color: whitesmoke;
    padding: 0.4rem;
    border-radius: 1rem ;
}


/*transformaciones menu*/
nav ul li:hover{
    background-color: #e9c2cb;
    transform: scale(1.2);
    box-shadow: 3px 3px rgb(253, 159, 175);
    /*transform:rotate(10deg);*/
    /*transciciones*/
    transition: 0.26s;
}
/*transformaciones img
img:hover{
    transform: scale(1.3);
}
/*transciciones img
img{
    transition: 0.6s;
}*/
.mainNosotros{
    height: 80vh;
    display: grid;
    grid-template-areas:    "mainP mainP"
                            "imagen1 imagen2"
                            "imagen3 imagen4"
                            "parrafo parrafo" ;
    justify-content: center;
}
.sectionNosotros{
    display: none;
}
.mainP{
    text-align: center;
    grid-area: mainP;
}
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.parrafo{
    grid-area: parrafo;
    text-align: center;
}
footer p{
    text-align: center;
}

/*media queries*/
@media only screen and (min-width:600px){
    .mainNosotros{
        height: 80vh;
        display: grid;
        grid-template-areas:    "mainP mainP mainP mainP"
                                "sectionNosotros sectionNosotros sectionNosotros sectionNosotros"
                                "imagen1 imagen2 imagen3 imagen4"
                                "parrafo parrafo parrafo parrafo" ;
        justify-content: center;
    }
    .sectionNosotros{
        grid-area: sectionNosotros;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainP, .parrafo{
        font-size: 1.3rem;
    }
    .imagen1, .imagen2, .imagen3, .imagen4{
        padding: 1rem;
    }
    main div img{
        width: 60%;
    }
}

@media only screen and (min-width:1024px){
    .mainNosotros{
        height: 80vh;
        display: grid;
        grid-template-areas:    "mainP mainP sectionNosotros sectionNosotros"
                                "imagen1 imagen2 imagen3 imagen4"
                                "parrafo parrafo parrafo parrafo" ;
        justify-content: center;
        align-items: center;
    }

}
main div img{
    width: 65%;
}
@keyframes girar{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


/*ejemplo de animaciones*/
.imgLuna{
    width: 40%;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 100s;
}